/* Pure CSS accordion from: */
/* https://codepen.io/raubaca/pen/PZzpVe */

/* #status-container {
  color: #2c3e50;
  background: #ecf0f1;
} */
.css-accordion-half {
  float: left;
  width: 50%;
  padding: 0 1em;
}
/* Acordeon styles */
.css-accordion-tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.css-accordion-tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.css-accordion-tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #019208;
  color: #FFF;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.css-accordion-tab-content {
  max-height: 0;
  overflow: hidden;
  background: #FFF;
  color: #333;
  -webkit-transition: max-height .css-accordion-35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.css-accordion-tab-content p {
  margin: 1em;
}
/* :checked */
.css-accordion-tab input:checked ~ .css-accordion-tab-content {
  max-height: 100vh;
}
/* Icon */
.css-accordion-tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.css-accordion-tab input[type=checkbox] + label::after {
  content: "+";
}
.css-accordion-tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}



/* Styling for OX services */
.css-accordion-service {
    display: flex;
}
.css-accordion-tab label {
    display: flex;
}